@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.error #numero{
    border: 2px solid rgb(187, 17, 17);
}
input:focus{
    outline: none;
}
*{
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    margin-top: 200px;
}
.container__form{
    background-color: #101010;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
}
.form-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
small{
    color: rgb(185, 19, 19);
}
#numero{
    border-radius: 5px;
    height: 30px;
    width: 200px;
    background-color: black;
    color: white;
    text-align: center;
    outline: none;
    border: none;
}
#submit{
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 2px solid rgb(99, 86, 86);
}
.textoRender{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}
h2{
    font-weight: 400;
}
h3{
    font-size: 25px;
    color: rgb(2, 138, 2);
    margin-top: 27px;
}
img{
    margin-bottom: 50px;
}